h1 {
    font-family: Arial;
}
h2{
    font-family: Georgia;
}
h3{
    font-family: Verdana;
}
h4{
    font-family: "Comic Sans MS";
}
h5{
    font-family: "Courier New";
}
h6{
    font-family: "Trebuchet MS";
}
p {
    font-family: Impact;
}
